<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Preguntas Frecuentes</h1>
      <br>

      <h3>1. ¿Qué es <strong>Neiva Comenta</strong>?</h3>
      <p>Es un lugar donde puedes conversar sobre diferentes temas y compartir imágenes libremente, de forma anónima y sin necesidad de registro. El sitio esta dividido en “muros”,  cada cual aborda una temática distinta como humor, deportes, actualidad, etc.</p>
      <p>Este proyecto nace del deseo de crear un espacio para la libertad de expresión y de conectar personas que comparten intereses comunes. Creemos que una discusión puede ser más honesta y entretenida cuando no existen identidades de por medio.</p>
      <br>

      <h3>2. ¿Cómo puedo usar <strong>Neiva Comenta</strong>?</h3>
      <p>En <strong>Neiva Comenta</strong> no existen cuentas ni sistema de registro; por lo tanto, puedes entrar como sea y de donde sea y publicar mensajes de inmediato. Empieza entrando a cualquier muro, allí encontrarás los temas de conversación más recientes. Puedes unirte a discutir en cualquiera de ellos, o crear un tema nuevo. </p>
      <br>

      <h3>3. ¿Qué debería saber antes de usar <strong>Neiva Comenta</strong>?</h3>
      <p>Animamos a los usuarios a participar activamente en esta comunidad. Antes de participar, asegúrate de leer y comprender las <a ui-sref="reglas">recomendaciones</a>. La violación de estas recomendaciones resultará en la eliminación de temas y/o comentarios.</p>
      <br>

      <h3>4. ¿Debo publicar una imagen?</h3>
      <p>Para empezar un nuevo tema debes subir una imagen. Para comentar, la inclusión de imágenes es opcional.</p>
      <br>

      <h3>5. ¿Cómo reporto un tema/comentario?</h3>
      <p>Animamos a los usuarios a reportar los temas o comentarios que violen las recomendaciones o sean spam, esto nos ayuda a eliminarlo más rápido para hacer la experiencia en <strong>Neiva Comenta</strong> para todos los usuarios más agradable. Para llenar un reporte dale click al botón <strong>Reportar</strong> ubicado en la esquina superior derecha del recuadro del tema/comentario.</p>
      <br>

      <h3>6. ¿Cómo elimino mi tema/comentario?</h3>
      <p>Se cuidadoso con lo que compartes. Una vez publicado, el contenido no puede ser eliminado por parte de los usuarios.</p>
      <br>

      <h3>7. Mi tema desapareció, ¿que pasó?</h3>
      <p>Los temas expiran y son eliminados. Cuando un tema llega al límite de participación (500 comentarios) desciende en el listado y desaparece. Este sitio no tiene memoria.</p>
      <br>

      <h3>8. ¿Cómo me puedo poner en contacto con la administración del sitio?</h3>
      <p>Escríbenos a <a href="mailto:admin@neivacomente.org">admin@neivacomenta.org</a></p>
      <br>
    </div>
  </div>
</div>
