<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Recomendaciones</h1>
      <p>Creemos que la comunidad debería ser capaz de autorregularse, por lo cual no existen reglas de comportamiento impuestas por Neiva Comenta; sin embargo, para proporcionar una mejor experiencia de uso del sitio y evitar problemas legales, ofrecemos las siguientes recomendaciones:</p>
      <br>

      <h3>1. Legalidad</h3>
      <p>Abstenerse de publicar, discutir, subir o requerir cualquier elemento que viole las leyes.</p>
      <br>

      <h3>2. Protege tu privacidad</h3>
      <p>No reveles tus datos personales ni cualquier otra información que prefieras mantener en secreto.</p>
      <br>

      <h3>3. No causes problemas a los demás</h3>
      <p>Siéntete libre de hablar de lo que desees como desees, pero también recuerda que hay alguien como tú al otro lado de la pantalla. Aquí y en muchos otros lugares se usa Internet como un lugar de relajo y escape de la vida diaria.</p>
      <br>

      <h3>4. Consistencia</h3>
      <p>Discute los temas en el muro correcto. Por ejemplo: si quieres hablar del partido del domingo, hazlo en el muro de Deportes.</p>
      <br>

      <h3>5. No spam</h3>
      <p>Cualquier forma de spam o marketing (fuera del muro de Clasificados) es prohibido.</p>
      <br>

    </div>
  </div>
</div>
